#Viso,#Narafi{display:none}

body{
	width: 40%;
	margin: 0 auto;
	background-color: #f3f3f3;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
main{
	/*background-color: white;*/
	overflow: hidden;
}
header{
	width: 70%;
	margin: 150px auto 70px auto;
	background-color: #f3f3f3;
	font-weight: 550;
	overflow: hidden;
}
nav{
	width: 100%;
	font-size: 1.1em;
	background-color: #f3f3f3;
	border: 0;
	border-radius: 0px;
	margin-bottom: 0;
	padding: 20px 0 30px 0;
    overflow: hidden;
}
nav div{
	display: block;
	width: 50%;
	float: left;
}
#nav-left{
	display: block;
  	width: fit-content;
}
#nav-right{
	display: block;
  	width: fit-content; 
  	float: right;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
	position: fixed;
	width: 40%;
}
/*wanneer nav zindex 100 dan moet header extra margin bottom maar ik weet niet hoeveel die nav 50px + letters zijn.*/
h1{
	font-size: 3em;
	padding: 10px 0;
}
h2{
	font-size: 1.3em;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #545454;
}  
article{
	margin: 100px 0;
}
h3{
	font-size: 1.2em;
	padding: 10px;
}
h4{
	padding: 5px 0 3px 0;
}
article p{
	padding-left: 3px;
}

/*Hide scrollbar*/
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}















@media screen and (max-width: 1350px) {
	body, .navbar-fixed{
		width: 70%;
	}
}

@media screen and (max-width: 1000px) {
	body, .navbar-fixed{
		width: 90%;
	}
}