body{
	background-color: #f3f3f3;
	font-family: 'Roboto', sans-serif;
	font-family: 'Prata', serif;
	font-weight: 300;
	height: 100vh;
}
body div{
	position: absolute;
  	left: 50%;
  	top: 45%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	text-align: center;
}
h1{
	font-size: 4rem;
}
h2{
	margin-top: 8px;
}
nav{
	font-family: 'Roboto', sans-serif;
	margin-top: 20px;
	font-size: 0.75rem;
}
nav p{
	display: inline;
}
a{
	text-decoration: none;
	color: blue;
}
